.box{
    width: 100px;
    height: 100px;
    margin: 20px;
    padding: 20px;
    border: 2px solid black;
    background-color: red;
    }
    .box1{
        float: left;
    }
    .box2{
        float: left;
        margin-top: 20px; 
        clear: both;
    }
    .box3{
        float: left;
        margin-top: 20px;
        margin-left: 10px;
        border: dashed;
    }
    .box4{
        float: left; 
        margin: top 20px;
        clear:both;
        border: dotted;
        }
    .box5{
        float:left;
        margin-top: 20px;
        margin-left: 10px;
        border: none;
    }
    .box6{
        float:left;
        clear: both;
        border-bottom: 20px yellow;
        border-left: 20px green;
        border-top: 20px blue;
        border-right: 20px gray;
    }