.box {
    width: 100px;
    height: 100px;
    border: none; 
    margin: 5px;
    display: inline-block;
    text-align: left;
    padding: 10px;   
    color: white;
    line-height: 100px; 
    }
.box1{
        width: 200px;
        float: left; 
        background-color: rgb(231, 59, 87);
        }
.box2{
    float: left;
    background-color: olive;
}
.box3{
    float: left;
    background-color: purple;
}
.box4{
    float: left;
    background-color: lightblue;
    clear: both;
}
.box5{
    width: 200px;
    float: left; 
    background-color: lightgreen;
}
.box6{
    float: left;
    background-color: mediumaquamarine;
    }
.box7{
    float: left;
    background-color: yellow;
    clear: both;
}
.box8{
    float: left;
    background-color: orange;
}
.box9{
    width: 200px;
    float: left; 
    background-color:rebeccapurple;
    }